# Data Visualization Deep Dive

If you don't have pandas, matplotlib, or numpy installed, remove the # below and run the cell.

In [ ]:
# !pip install pandas
# !pip install matplotlib
# !pip install numpy

In [ ]:
import pandas as pd
from matplotlib import colormaps
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df = pd.read_csv("building_inventory.csv", na_values={'Square Footage': 0, 
                                                    'Year Constructed':0,
                                                    'Year Acquired':0})

In [ ]:
df.head()

In [ ]:
df.columns

### scatter plot

In [ ]:
...
plt.xlabel("Year Acquired")
plt.ylabel("Square Footage")
plt.show()

### log scale

In [ ]:
...
plt.xlabel("Year Acquired")
plt.ylabel("Square Footage")
...
plt.show()

### square root scale

In [ ]:
...
plt.xlabel("Year Acquired")
plt.ylabel("Square Footage")
plt.show()

### bar chart

In [ ]:
top_cities = ...
top_cities

In [ ]:
...
plt.ylabel("Number of Buildings")
plt.title("University-Owned Buildings in Illinois")
plt.show()

### correlation heatmap

In [ ]:
correlation = ...
correlation

In [ ]:
correlation.shape

In [ ]:
correlation.columns.values

In [ ]:
plt.figure(figsize=(8, 8))
...
plt.xticks(...)
plt.yticks(range(10), labels=correlation.columns.values)
...
...
plt.title("Correlation of Numeric Variables")
plt.show()

### line plot

In [ ]:
weather = pd.read_parquet("weather-train.parquet")
weather.head()

In [ ]:
august_2016 = weather[(weather.year == 2016) & (weather.month == 8)]

In [ ]:
...
plt.xticks([])
plt.yticks(range(5, 30, 5))
plt.title("Lowest Temperature in Urbana, IL (Oct. 2016)")
...
plt.show()

### polar coordinates

In [ ]:
r = august_2016['temperature_2m_min'].values 
r

In [ ]:
theta = np.linspace(0, 2*np.pi, num=31) 
theta

In [ ]:
fig, ax = ...
ax.set_title("Lowest Temperature in Urbana, IL (Oct. 2016)")
ax.plot(theta, r) 
lines, lables = ...
ax.set_xticklabels([])
plt.show()

### temperature heatmap

In [ ]:
year_2016 = weather[weather.year == 2016]
year_2016

In [ ]:
heatmap = year_2016.pivot(...)
heatmap

In [ ]:
plt.figure(figsize=(12, 8))
...
plt.yticks(range(12), labels=['January', 'February', 'March', 'April', 'May', 'June', 
               'July', 'August', 'September', 'October', 'November', 'December'])
...
plt.title("Lowest Daily Temperature in Urbana, IL in 2016")
plt.show()